<html ng-app>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
            <script type="text/javascript">
            var leaderboardController = function($scope, $window) {
                console.log("controller loaded")
                $scope.getName = function (rankedPlayer) {
                    return rankedPlayer.Player.FirstName + " " + rankedPlayer.Player.LastName
								}

                $scope.getPlayerDetail = function (rankedPlayer) {
                    console.log("getPlayerDetail: " + rankedPlayer.Player.PlayerId)
                    $window.location.href = "/players/"+rankedPlayer.Player.PlayerId
								}
								
								$scope.getRankCol = function (rankedPlayer) {
									var val = rankedPlayer.PlayerRank.Value 
										console.log("getRankCol: " + val)
										return val
								}

								$scope.getRankDeltaCol = function (rankedPlayer) {
									var val = Math.round(rankedPlayer.PlayerRankDelta)
									if (val > 0) {
										var result = val + " \u21E1"
									} else {
										var result = val + " \u21E3"
									}
									return result
								}

                if (window["WebSocket"]) {
                    conn = new WebSocket("ws://{{$}}/ws");
                    conn.onclose = function(evt) {
                        console.log("connection closed")
                    }
                    conn.onmessage = function(evt) {
											console.log("got data: " + evt.data)
												var rankedPlayers = JSON.parse(evt.data);
											if (rankedPlayers.Ping != null) {
												msg = JSON.stringify({"Pong": "true"});
												console.log("sending msg: " + msg)
													conn.send(msg);
													return;
												} 
													for (var i = 0; i < rankedPlayers.length; i++) {
														rankedPlayers[i].PlayerRank.Value = Math.round(rankedPlayers[i].PlayerRank.Value);
													}
													$scope.rankedPlayers = rankedPlayers;
                        $scope.$apply()
                        console.log($scope.rankedPlayers)
                    }
                } else {
                    window.alert("Your browser does not support WebSockets.")
                }
            }
        </script>
        <style type="text/css">
            body { background-color: white; }
            #leaderboardLabel { text-align: center; color: blue; font-size: 40px; }
			#leaderboard { text-align: center; color: navy; font-size: 20px; }
            Footer {
							text-align: center;
							position: absolute;
                display:block;
                bottom: 0;
                width: 100%;
                height: 141px;
            }	
        </style>
        <title>Foosball Leaderboard</title>
    </head>
    <body>
        <div id="leaderboardLabel">Leaderboard</div>
				<div id="leaderboardContainer" ng-controller="leaderboardController">
					<table style-"text-align:center" class="table table-striped table-hover">
						<thead>
										<th>Rank</th>
										<th>Player</th>
										<th>Score</th>
										<th>Score Delta</th>
								</thead>
							<tbody>
                    <tr ng-repeat="rankedPlayer in rankedPlayers" ng-click="getPlayerDetail(rankedPlayer)">
												<td ng-bind="$index+1"/>
												<td ng-bind="getName(rankedPlayer)"></td>
												<td ng-bind="getRankCol(rankedPlayer)"/>
												<td ng-bind="getRankDeltaCol(rankedPlayer)"/>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <footer>
        <p>Created By: <a href="https://github.com/wskinner">Will Skinner</a> & <a href="https://github.com/michaelschiff">Michael Schiff</a></p>
	    <a href="https://github.com/wskinner/foosrank" >Source Code</a>
    </footer> 
</html>
