<html ng-app>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
            <script type="text/javascript">
            var leaderboardController = function($scope, $window) {
                console.log("controller loaded")
                $scope.getName = function (rankedPlayer) {
                    return rankedPlayer.Player.FirstName + " " + rankedPlayer.Player.LastName
                }
                $scope.getPlayerDetail = function (rankedPlayer) {
                    console.log("getPlayerDetail: " + rankedPlayer.Player.PlayerId)
                    $window.location.href = "/players/"+rankedPlayer.Player.PlayerId
                }
                if (window["WebSocket"]) {
                    conn = new WebSocket("ws://{{$}}/ws");
                    conn.onclose = function(evt) {
                        console.log("connection closed")
                    }
                    conn.onmessage = function(evt) {
											console.log("got data: " + evt.data)
												var rankedPlayers = JSON.parse(evt.data);
													for (var i = 0; i < rankedPlayers.length; i++) {
														rankedPlayers[i].PlayerRank.Value = Math.round(rankedPlayers[i].PlayerRank.Value);
													}
													$scope.rankedPlayers = rankedPlayers;
                        $scope.$apply()
                        console.log($scope.rankedPlayers)
                    }
                } else {
                    window.alert("Your browser does not support WebSockets.")
                }
            }
        </script>
        <style type="text/css">
            body { background-color: white; }
            #leaderboardLabel { text-align: center; color: blue; font-size: 40px; }
			#leaderboard { text-align: center; color: navy; font-size: 20px; }
            Footer {
				text-align: center;
                display:block;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 141px;
            }	
        </style>
        <title>Foosball Leaderboard</title>
    </head>
    <body>
        <div id="leaderboardLabel">Leaderboard</div>
        <div align=center id="leaderboardContainer" ng-controller="leaderboardController">
            <table class="table table-striped table-hover">
							<tbody>
									<tr>
										<th style="text-align:center">Player</th>
										<th>Rank</th>
									</tr>
                    <tr ng-repeat="rankedPlayer in rankedPlayers" ng-click="getPlayerDetail(rankedPlayer)">
                        <td ng-bind="getName(rankedPlayer)" style="text-align:center"></td>
                        <td ng-bind="rankedPlayer.PlayerRank.Value"/>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <footer>
        <p>Created By: <a href="https://github.com/wskinner">Will Skinner</a> & <a href="https://github.com/michaelschiff">Michael Schiff</a></p>
	    <a href="https://github.com/wskinner/foosrank" >Source Code</a>
    </footer> 
</html>
